* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    background-color: #00243E;

}
.navbar-nav {
  color: white;
}

.navbar {
    background-color: #00406E;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px;
    margin-bottom: 0px;
    font-family: 'Shadows Into Light', cursive;
}

#myNavbar {
  margin-bottom:0px;
  font-size: 25px;
}
.navbar-brand {
  font-size: 25px;
}

#pic {
    width: 100px;
    height: 120px;
    border-style: solid;
    border-color: transparent;
    border-radius: 100%;
    padding-top:0px;
    margin-top: 30px;
}

.maintxt {
  color:white;
  text-align: center;
}

.about {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    height: 500px;
    font-family: 'Shadows Into Light', cursive;
}

/*.tech2o {
  background-image:url("../img/web1.jpg");
  width: 600px;
  height: 400px;
  background-repeat: no-repeat;
  float: left;
  margin-top:0px;
  border-style: solid;
  border-color: transparent;
  padding-left: 50px;
  padding-right: 40px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000000;
  margin-left: 60px;
}
.echeckin {
  background-image:url("../img/web2.jpg");
  width: 600px;
  height: 400px;
  margin-top:0px;
  background-repeat: no-repeat;
  float: right;
  border-style: solid;
  border-color: transparent;
  padding-left: 50px;
  padding-right: 40px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000000;
  margin-right: 60px;
}
.trans {
  background-image:url("../img/web3.jpg");
  width: 600px;
  height: 400px;
  margin-top:0px;
  background-repeat: no-repeat;
  float: left;
  border-style: solid;
  border-color: transparent;
  padding-left: 50px;
  padding-right: 40px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000000;
  margin-left: 60px;
}
.mobile {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}*/

.ptech,
.pcheck,
.ptrans {
  border-style: solid;
  border-color:transparent;
  font-size:25px;
}
/*.ptech {
  margin-top: 30px;
  text-align: center;
}
.pcheck {
  margin-top: 30px;
  text-align: center;
}
.ptrans {
  margin-top: 30px;
  text-align: center;
}*/
.tech2o,
.echeckin,
.trans {
  background-color:#00243E;
}
/*.transp {
  background-color:white;
}*/
.mobile {
  background-color:white;
}
.contacts,
.interests,
.mobile
 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contacts {
    color: white;
    font-size: 20px;
    height: 100%;
    font-family: 'Shadows Into Light', cursive;
    margin-left: 20px;
    padding-left:450px;
    /*border-left: thin solid white;*/
}
.m1,
.m3 {
  margin-left: 160px;
}

.mb {
  border-right: thin solid #00243E;
}
.txt1 {
  color: #00243E;
  text-align: center;
}
.portfolio {
  height: 500px;
  background-color: #00243E;
  padding-left:20px;
  padding-right:20px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.txt2,
.txt3,
.txt4 {
  color: white;
  text-align: center;
}

p {
    font-family: 'Handlee', cursive;
    font-size: 24px;
}
.p1 {
  color: white;
}
.p2 {
  color: white;
}
.p3 {
  color: white;
}
h2 {
  font-family: 'Handlee', cursive;
}
.btn {
  background-color: #00243E;
  border-color:white;
  color: white;
  font-family: 'Shadows Into Light', cursive;
}
.m3txt,
.m1txt {
color: white;
text-align: center;
}
.m1txt {
  border-style: solid;
  border-color: transparent;
  width: 420px;
  height: 150px;
  margin-left: 100px;
  margin-top: 20px;
  color:#00243E;
}
.m3txt {
  border-style: solid;
  border-color: transparent;
  width: 420px;
  height: 150px;
  margin-left:110px;
  margin-top: 20px;
  color:#00243E;
}
.interests {
  background:white;
  padding-left:20px;
  padding-right: 20px;
}

.txt5 {
  color:#00243E;
  margin-top: 80px;
  text-align: center;
}
.list {
  color:#00243E;
  font-size: 20px;
  font-family: 'Handlee', cursive;
  margin-left: 30px;
}
.txt6 {
  color:#00243E;
}
.txt7 {
  color:white;
  /*margin-top: 80px;*/
}
.fa-github {
  margin-left: 600px;
  margin-bottom: 20px;
}
.fa-linkedin-square {
  margin-left: 50px;
  margin-bottom: 20px;
}
.form-control {
  width: 600px;
}
.img {
  width: 200px;
  height:200px;
  border-radius:100%;
  margin-bottom:50px;
}
.imgweb {
  width: 400px;
  height: 400px;
}
