* {
  margin: 0px;
  padding: 0px;
}
body {
  overflow-x: hidden;
  font-family: 'VT323', monospace;
  color: black;
}
.navbar {
  /*background-color: inherit;*/
}
img {
  width: 30px;
  height: 80px;
}
#pic {
  width: 100px;
  height: 120px;
  border-style: solid;
  border-color: transparent;
  border-radius: 100%;
}
/*.text {
}
.home {
background-image: url("http://cdn.pcwallart.com/images/beautiful-nature-beach-sunset-wallpaper-2.jpg");
background-color: #C70039;
height: 670px;
}
.tabs {

}*/
.about {
margin-top: 90px;
margin-bottom: 0px;
width: 900px;
height: 300px;
border-style: solid;
border-color: transparent;
padding-left: 50px;
padding-right: 40px;
border-radius: 10px;
box-shadow: 0 0 20px #000000;
background-color: #C70039;

}
.portfolio {
  height: 650px;
  background-color: white;
  background-color: #C70039;
}
.first-project,
.second-project,
.third-project
 {
border-style: solid;
border-color: transparent;
border-radius: 10px;
margin-top: 30px;
margin-left: 10px;
box-shadow: 0 0 20px #000000;
background-color: white;
height: 175px;
width: 175px;
}
.first-project:hover,
.second-project:hover,
.third-project:hover {
  width: 350px;
}
.first-project {
  background-color: #F15A29;
}
.second-project {
  background-color: orange;
}
.third-project {
  background-color: skyblue;
}
/*.images {
  margin-bottom: 50px;
}*/

#logo1,
#logo2,
#logo3 {
  width: 150px;
  height: 150px;
  margin-top: 10px;
  margin-left: 0px;
}
#logo2 {
  border-style: solid;
  border color: transparent;
  border-radius: 100%;
}
#logo3 {
  border-style: solid;
  border color: transparent;
  border-radius: 100%;
}
.contacts {
  background-color: #C70039;
  height: 650px;

}
.ank,
.pnd,
.qna {
  color: transparent;
}
.ank:hover,
.pnd:hover,
.qna:hover {
  color: black;
  text-align: center;
  margin-top: 10px;
}
