* {
  margin: 0px;
  padding: 0px;
}
body {
  overflow-x: hidden;
}

img {
  width: 100px;
  height: 200px;
}
.home {

}
.tabs {

}
.about {
margin-top: 80px;
margin-bottom: 80px;
width: 500px;
height: 200px;
/*margin-left: 500px;
margin-right: 500px;*/
border-style: solid;
border-color: transparent;
background-color: #800060;
padding-top: 50px;
padding-left: 50px;
padding-right: 40px;
border-radius: 10px;
box-shadow: 0 0 10px #000000;
}
#projects {
  border-style: solid;
  border-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px #000000;
  width: 99%;
  height: 300px;
  padding-top: 50px;
  margin-left: 10px;
}
.first-project,
.second-project,
.third-project
 {
border-style: solid;
border-color: transparent;
padding-left: 130px;
}
