* {
  margin: 0px;
  padding: 0px;
}
body {
  overflow-x: hidden;
font-family: 'VT323', monospace;
color: black;
}
.navbar {
  /*background-color: inherit;*/
}
img {
  width: 50px;
  height: 100px;
}
#pic {
  width: 100px;
  height: 120px;
  border-style: solid;
  border-color: transparent;
  border-radius: 100%;
}
.text {
}
.home {
/*background-image: url("http://cdn.pcwallart.com/images/beautiful-nature-beach-sunset-wallpaper-2.jpg");*/
background-color: #C70039;
height: 100%;
}
.tabs {

}
.about {
margin-top: 80px;
margin-bottom: 80px;
width: 900px;
height: 300px;
/*margin-left: 500px;
margin-right: 500px;*/
border-style: solid;
border-color: transparent;
padding-left: 50px;
padding-right: 40px;
border-radius: 10px;
box-shadow: 0 0 20px #000000;
background-color: #C70039;

}
.portfolio {
  height: 500px;
  background-color: wite;
}
.first-project,
.second-project,
.third-project
 {
border-style: solid;
border-color: transparent;
border-radius: 100%;
margin-top: 50px;
box-shadow: 0 0 20px #000000;
background-color: white;
height: 350px;
width: 350px;
}
.first-project {
  margin-left: 100px;
  margin-right: 30px;
  background-color: #F15A29;
}
.second-project {
  margin-left: 30px;
  margin-right: 30px;
  background-color: orange;
}
.third-project {
  margin-left: 30px;
  margin-right: 10px;
  background-color: skyblue;
}
/*.images {
  margin-top: 230px;
}*/
.contacts {
  background-color: #C70039;
  height: 100%;
  width: 100%;
  margin-top: 0px;
}
#logo1,
#logo2,
#logo3 {
  width: 150px;
  height: 150px;
  margin-top: 50px;
  margin-left: 80px;
}
#logo2 {
  border-style: solid;
  border color: transparent;
  border-radius: 100%;
}
#logo3 {
  border-style: solid;
  border color: transparent;
  border-radius: 100%;
}
