* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    font-family: 'VT323', monospace;
    background-color: #00243E;
}

.navbar {
    background-color: #00406E;
}
#myNavbar {
  margin-bottom:0px;
}

/*img {
    width: 30px;
    height: 80px;
}*/

#pic {
    width: 100px;
    height: 120px;
    border-style: solid;
    border-color: transparent;
    border-radius: 100%;
    padding-top:0px;
}

.maintxt {
  color: white;
  text-align: center;
}

.about {
    margin-top:0px;
    width: 100%;
    height: 700px;
    background-image:url("../img/image.jpg");
}

.portfolio {

    /*height: 700px;

    background-color: #C70039;
    padding-top: 40px;
    border-right: 5px, solid;*/

}
.tech2o {
  background-image:url("../img/web1.jpg");
  width: 600px;
  height: 400px;
  background-repeat: no-repeat;
  float: left;
  margin-top:0px;
  border-style: solid;
  border-color: transparent;
  padding-left: 50px;
  padding-right: 40px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000000;
}
.echeckin {
  background-image:url("../img/web2.jpg");
  width: 600px;
  height: 400px;
  margin-top:0px;
  background-repeat: no-repeat;
  float: right;
  border-style: solid;
  border-color: transparent;
  padding-left: 50px;
  padding-right: 40px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000000;

}
.trans {
  background-image:url("../img/web3.jpg");
  width: 600px;
  height: 400px;
  margin-top:0px;
  background-repeat: no-repeat;
  float: left;
  border-style: solid;
  border-color: transparent;
  padding-left: 50px;
  padding-right: 40px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000000;
}
.mobile {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.m1 {
  background-image:url("../img/m.jpg");
  width: 350px;
  height: 590px;
  background-repeat: no-repeat;
  /*margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;*/
  margin-left: 20px;
}
.m3 {
  background-image:url("../img/t.jpg");
  width: 330px;
  height: 590px;
  background-repeat: no-repeat;
  float: right;
  margin-right: 10px;
}

.ptech,
.pcheck,
.ptrans {
  border-style: solid;
  border-color:black;
  font-size:25px;
}
.techp {
  background-color:#00406E;
}
.transp {
  background-color:#00406E;
}
.techp,
.checkp,
.transp,
.mobile,
.contacts {
  padding-top: 80px;
  padding-bottom: 80px;
}


#logo1, #logo2, #logo3 {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-left: 0px;
}

#logo2 {
    border-style: solid;
    border color: transparent;
    border-radius: 100%;
}

#logo3 {
    border-style: solid;
    border color: transparent;
    border-radius: 100%;
}

.contacts {
    color: white;
    margin-top: 20px;
    height: 100%;
    width: 70%;
    margin-left: 200px
}

p {
    color:white;
}
